.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto; 
}

.weather-app {
  padding: 20px;
  border: 1px solid #272142;
  border-radius: 16px;
  padding-bottom: 50px;
}

h1 {
  font-size: 38px;
  line-height: 48px;
  margin: 20px 0 10px;
  color: #272142;
}

ul /*gets rid off space where bullet points were*/{
  margin: 0;
  padding: 0;
}

li { 
  margin-bottom: 15px;
  margin-top: 20px;
  color: darkgray;
  font-size: 16px;
  line-height: 1.5px;
  list-style: none;
  text-transform: capitalize;
}

li strong {
  color: #f65282;
}

.col-6 {
margin-top: 30px;
}

.col-6 img {
  margin-top: 35px;
}

#temperature {
  color: #212121;
  margin-left: 10px;
  margin-top: 20px;
  font-size: 80px;
  line-height: 1;
}

.unit {
  margin-top: 70px;
  color: #212121;
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}

#fahrenheit-link {
  text-decoration: none;
}

#celsius-link {
  text-decoration: none;
}

.col-6 .active {
  color: #212121;
}

.weather-forecast {
  margin-top: 40px;
  text-align: center;
}

.weather-forecast-day {
  color: darkgray;
  font-size: 16px;
  line-height: 20px;
}

.col-2 img {
  display: block;
  margin: 20px auto;
}

.weather-forecast-temperature {
  font-size: 18px;
  line-height: 1.5;
  color: #f65282;
  font-weight: 700;
}

.weather-forecast-temperature-low {
  opacity: .6;
}

#forecast {
  margin-left: 65px;
}