.weather-app {
  max-width: 600px;
  margin: 30px auto; 
  padding: 20px;
  border: 1px solid #272142;
  border-radius: 16px;
}

h1 {
  font-size: 38px;
  line-height: 48px;
  margin: 20px 0 10px;
  color: #272142;
}

ul /*gets rid off space where bullet points were*/{
  margin: 0;
  padding: 0;
}

li { 
  margin-bottom: 15px;
  color: darkgray;
  font-size: 16px;
  line-height: 20px;
  list-style: none;
}

li strong {
  color: #f65282;
}

.footer {
  margin-left: 260px;
}